/* mobile styles */

/* (iPhone5SE) 320px - (iPhone6/7/8Plus) 414px */
@media only screen and (max-width : 414px) {
  .grid--14 {
    column-gap: 3.5vh;
    column-width: 19.118vh;
    height: 76%;
  }

  .container.container--search {
    /* top: 88vh; */
  }

  .load-student--txt {
    width: 90vw !important;
  }

/* not elegant, append mobile styles for profile pages after that specific css */
  .student-img.content.cycle-slideshow {
    position: relative !important;
    margin: auto !important;
    margin-top: 40px !important;
    /* width: 95% !important; */
  }

  .load-student--name {
    width: 95%;
  }

  p.student-name {
    text-align: center;
  }

  .search--nav {
    display: none;
  }

  .title--mobile {
    position: relative;
    visibility: visible;
    text-align: center;
  }

  /* something's off in safari on mobile, window width < 414px is fine, on the phone it freaks out */
  /* .search--subtitle, ul.row {
    margin-bottom: 0.5em;
    margin-top: -10vh;
  } */
}
