/* SEARCH SPECIFIC STYLES*/

html {
  overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
::-webkit-scrollbar-thumb {
    /*background: #FF0000;
    border-radius: 100px;*/
}

/* css grids */
/*  */
.grid {
  display: grid;
  /* grid-column-gap: CALCULATE FOR SPECIFIC GRID; */
  grid-column-gap: 5vw;
  line-height: 1.25;
  height: 100%;
}

.grid--2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid--5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid--8 {
  grid-template-columns: repeat(8, 1fr);
}

.grid--12 {
  grid-template-columns: repeat(12, 1fr);
}

.grid--14 {
  -moz-column-count: 8;
  -moz-column-gap: 5vw;
  -webkit-column-count: 8;
  -webkit-column-gap: 5vw;
  column-count: 8;
  column-gap: 5vw;
  column-width: 18vw;
  height: calc(75.5% - 2.5vw);
  /* seems to work-ish */
  left: 19vw;
  position: absolute;
  width: 78vw;
}

.column {
  /* white-space: nowrap; */
}

.nowrap .column {
  white-space: nowrap;
}

/*  */

.container {
  cursor: auto;
  background: rgba(255,255,255,0.9);
  position: absolute;
  width: 100vw;
  z-index: 10;
}

.container--search {
  top: 100vh;
  height: calc(100% - 6.85vw);
  overflow: hidden;
}

.container--overflow-x {
  border-bottom: 2px solid blue;
  display: flex;
  width: 95vw;
}

.student-search {
  height: 75.5%;
}

.theme-search {
  height: 7%;
}

.category-search {
  height: 7%;
}

.route-search {
  height: 7%;
}

/* not sure if this is what you're trying to make */
/* @media only screen and (min-width : 1440px) {
  .theme-search,
  .category-search,
  .route-search {
    height: auto;
  }
} */
/* @media only screen and (max-width : 1350px) {
  .container--search p,
  .container--search li,
  .container--search ul,
  .container--search a {
    font-size: 1.5vw;
  }
} */

.container--search-input,
#search {
  padding: 0 2.5vw;
  width: 95vw;
}

.container--search-input {
  background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.9));
  bottom: 0;
  padding-bottom: 2.5vw;
}

#search,
.container--search-student {
  height: 92.5vh;
}

.search--divider {
  background: #0000ff;
  height: 2px;
}

.search--nav {
  display: inline-block;
  position: absolute;
  right: 3.75vw;
}

.search--title {
  /* counteract default */
  margin-top: 1em;
  margin-bottom: 1em;
}

.search--subtitle,
ul.row {
  margin-bottom: 0.5em;
}

ul.row {
  overflow-x: scroll;
}

.search--subtitle {
  /* grid */
  flex: 0 0 17vw;
}

input.search {
  background-color: rgba(0,0,0,0);
  border-width: 0;
  border-style: none;
}

input.search:focus {
  outline: none;
}

::placeholder {
  color: rgba(0,0,255,0.5);
}

ul {
  list-style: none;
  padding: 0;
}

ul.row li,
.students li {
  display: block;
  margin-left: 0;
}

.search--title.hover {
  margin-right: 0;
  margin-left: 5vw;
  display: inline-block;
}

li:hover,
.hover:hover,
input.search:hover,
.tag:hover {
  cursor: pointer;
  opacity: 0.25;
}

.inline {
  display: inline-block;
}

.block {
  display: block;
}

.hidden {
  color: rgba(0,0,255,0.25);
}

.hiddenRemove {
  visibility: hidden !important;
  display: none !important;
}

.tag {
  margin-left: 10px;
  color:red;
}

.unselected {
  opacity: 0.25;
}

.unselected:hover,
.selected {
  opacity: 1 !important;
}

.capitalise {
  text-transform: capitalize;
}

/* different hover states */
.fadeOut:hover {
  opacity: 0.25 !important;
}

.fadeIn:hover {
  opacity: 1 !important;
}
