.container--search-student .grid {
    align-items: start;
    grid-column-gap: 2.5vw;
}

.load-student {
  /* border: 10px solid red; */
}

.load-student--txt {
  padding-left: 2.5vw;
  margin-top: 3vw;
  width: 25vw;
}

.load-student--txt p,
.student-link {
  font-size: 1.5vw;
  margin: 0.25em;
}

.load-student--txt .student-descript {
  margin-bottom: 1em;
}

.student-link {
  display: block;
}

a.student-link {
  font-family: "Sincerely-Irregular";
  /* margin-bottom: 1em; */
}

a.student-link:hover {
  opacity: 0.25;
}

.load-student--name {
  bottom: 0;
  position: absolute;
  /* grid */
  width: 33vw;
}

.student-name {
  font-size: 5vw;
  margin: 0.5em 0;
  position: relative;
  text-align: center;
  z-index: 10;
}

.student--files {
  margin-top: 1em;
}

.img {
  /* grid */
  margin-top: 2vw;
  position: absolute;
	width: 33vw;
}
