/* mobile styles */

/* (iPhone5SE) 320px - (iPhone6/7/8Plus) 414px */
@media only screen and (max-width : 414px) {
  /* 2 col arent going to work on mobile not enough space, font-size would have to be miniscule? */
  .grid--14 {
    column-gap: 5vh;
    column-width: 20vh;
    column-count: 1;
    height: 70%;
  }

  .container.container--search {
    /* top: 88vh; */
    /* SEE resize.js */
  }

  .load-student--txt {
    width: 90vw !important;
  }

  .student-search {
    height: 73.5%;
  }

  .theme-search,
  .category-search,
  .route-search {
    height: 8%;
  }

  .search--subtitle {
    flex: 0 0 20vh;
   }

   .search--title {
    flex: 0 0 12.5vh;
  }

   .container--overflow-tags {
     margin-bottom: 0;
   }

   .tag {
     margin: 1em 0;
   }

   a.student-link {
    font-size: 2.7vh;
    }

    .load-student--name p.student-name {
      font-size: 5vh;
    }

/* not elegant, append mobile styles for profile pages after that specific css */
  .student-img.content.cycle-slideshow {
    position: relative !important;
    margin: auto !important;
    margin-top: 40px !important;
    /* width: 95% !important; */
  }

  .load-student--name {
    width: 95%;
  }

  p.student-name {
    text-align: center;
  }

  .search--nav {
    display: none;
  }

  .title--mobile {
    position: relative;
    visibility: visible;
    text-align: center;
  }

  /* something's off in safari on mobile, window width < 414px is fine, on the phone it freaks out */
  /* .search--subtitle, ul.row {
    margin-bottom: 0.5em;
    margin-top: -10vh;
  } */
}
