/* mobile styles */

/* (iPhone5SE) 320px - (iPhone6/7/8Plus) 414px */
@media only screen and (max-width : 414px) {

  .container.container--search {
    /* see resize.js */
  }

  /* 2 col arent going to work on mobile not enough space, font-size would have to be miniscule? */
  .grid--14 {
    column-gap: 5vh;
    column-width: 20vh;
    column-count: 1;
    height: 70%;
  }

  .load-student--txt {
    width: 90vw !important;
  }

  .student-search {
    height: 73.5%;
  }

  .theme-search,
  .category-search,
  .route-search {
    height: 8%;
  }

  .search--subtitle {
    flex: 0 0 20vh;
  }

  .search--title {
    flex: 0 0 12.5vh;
  }

  /* random type fixes, view on phone to see - NOT small width on browser */
  .container--overflow-tags {
    margin-bottom: 0;
  }

  .tag {
    margin: 1em 0;
  }

  a.student-link {
    font-size: 2.7vh;
  }

  .load-student--name p.student-name {
    font-size: 5vh;
  }

  /* append mobile styles for profile pages after that specific css? */
  .student-img.content.cycle-slideshow {
    position: relative !important;
    margin: auto !important;
    margin-top: 40px !important;
    /* width: 95% !important; */
  }

  .load-student--name {
    width: 95%;
  }

  p.student-name {
    text-align: center;
  }

  .search--nav {
    display: none;
  }

  .title--mobile {
    position: relative;
    text-align: center;
    visibility: visible;
  }
}
